<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.msc.mapper.LineupPlayerMapper">

    <delete id="deleteByFixtureId">
        delete lp
        from lineup_players lp
        join lineups l on lp.lineup_id = l.id
        where l.fixture_id = #{fixtureId}
    </delete>

    <insert id="insertBatch">
        insert into lineup_players
        (lineup_id, player_id, position, number, is_starting, created_at)
        values
        <foreach collection="list" item="p" separator=",">
            (#{p.lineupId}, #{p.playerId}, #{p.position}, #{p.number}, #{p.isStarting}, now())
        </foreach>
    </insert>

</mapper>