<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.msc.mapper.TeamMapper">

    <!-- Insert -->
    <insert id="insert" parameterType="com.msc.model.entity.Team">
        INSERT INTO teams
        (id, name, short_name, code, country, country_code,
         founded, logo, is_national,
         venue_id, venue_name, venue_city, venue_capacity, venue_surface, venue_image,
         league_id, season,
         created_at, updated_at)
        VALUES
            (#{id}, #{name}, #{shortName}, #{code}, #{country}, #{countryCode},
             #{founded}, #{logo}, #{isNational},
             #{venueId}, #{venueName}, #{venueCity}, #{venueCapacity}, #{venueSurface}, #{venueImage},
             #{leagueId}, #{season},
             NOW(), NOW())
    </insert>

    <!--upsert from api-->
    <insert id="upsert" parameterType="com.msc.model.entity.Team">
        INSERT INTO teams
        (id, name, code, country, founded, is_national,
         logo, venue_id, venue_name, venue_city,
         venue_capacity, venue_surface, venue_image,
         league_id, season, created_at, updated_at)
        VALUES
            (#{id}, #{name}, #{code}, #{country}, #{founded}, #{isNational},
             #{logo}, #{venueId}, #{venueName}, #{venueCity},
             #{venueCapacity}, #{venueSurface}, #{venueImage},
             #{leagueId}, #{season}, NOW(), NOW())
            ON DUPLICATE KEY UPDATE
                                 name = VALUES(name),
                                 code = VALUES(code),
                                 country = VALUES(country),
                                 founded = VALUES(founded),
                                 is_national = VALUES(is_national),
                                 logo = VALUES(logo),
                                 venue_id = VALUES(venue_id),
                                 venue_name = VALUES(venue_name),
                                 venue_city = VALUES(venue_city),
                                 venue_capacity = VALUES(venue_capacity),
                                 venue_surface = VALUES(venue_surface),
                                 venue_image = VALUES(venue_image),
                                 league_id = VALUES(league_id),
                                 season = VALUES(season),
                                 updated_at = NOW()
    </insert>


    <!-- Update -->
    <update id="update" parameterType="com.msc.model.entity.Team">
        UPDATE teams
        SET
            name = #{name},
            short_name = #{shortName},
            code = #{code},
            country = #{country},
            country_code = #{countryCode},
            founded = #{founded},
            logo = #{logo},
            is_national = #{isNational},
            venue_id = #{venueId},
            venue_name = #{venueName},
            venue_city = #{venueCity},
            venue_capacity = #{venueCapacity},
            venue_surface = #{venueSurface},
            venue_image = #{venueImage},
            league_id = #{leagueId},
            season = #{season},
            updated_at = NOW()
        WHERE id = #{id}
    </update>

    <!-- Delete -->
    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM teams WHERE id = #{id}
    </delete>

    <!-- Find by ID -->
    <select id="findById" resultType="com.msc.model.entity.Team">
        SELECT *
        FROM teams
        WHERE id = #{id}
    </select>

    <select id="findBySeason" resultType="com.msc.model.entity.Team">
        SELECT *
        FROM teams
        WHERE season = #{season}
    </select>

    <!-- Count -->
    <select id="count" resultType="long">
        SELECT COUNT(*)
        FROM teams
    </select>

    <!-- Page Query -->
    <select id="findPage" resultType="com.msc.model.entity.Team">
        SELECT *
        FROM teams
        ORDER BY id DESC
            LIMIT #{offset}, #{size}
    </select>

    <select id="findByIds" resultType="com.msc.model.entity.Team">
        select *
        from teams
        where id in
        <foreach collection="ids"
                 item="id"
                 open="("
                 separator=","
                 close=")">
            #{id}
        </foreach>
    </select>
    <select id="findByLeagueAndSeason" resultType="com.msc.model.entity.Team">
        SELECT *
        FROM teams
        WHERE league_id = #{leagueId}
          AND season = #{season}
    </select>

</mapper>